#root {
  text-align: center;
  width: 100%;
  padding: 8px;
}

thead {
  background-color: rgb(77, 74, 74);
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

td, th {
  padding: 8px;
}

